services:
    - App\Model\Facade\UserFacade(@doctrine.dao(App\Model\Entity\User))
    - App\Model\Facade\RoleFacade(@doctrine.dao(App\Model\Entity\Role))
    - App\Model\Facade\TimeFacade(@doctrine.dao(App\Model\Entity\Time))
    - App\Model\Facade\ProjectFacade(@doctrine.dao(App\Model\Entity\Project))
    - App\Model\Facade\TaskFacade(@doctrine.dao(App\Model\Entity\Task))
    - App\Model\Facade\CommentFacade(@doctrine.dao(App\Model\Entity\Comment))
    - App\Model\Facade\CompanyFacade(@doctrine.dao(App\Model\Entity\Company))
    - App\Model\Facade\StatusFacade(@doctrine.dao(App\Model\Entity\Status))