services:
    - App\Model\Facade\BookFacade(@doctrine.dao(App\Model\Entity\Book))
    - App\Model\Facade\AuthorFacade(@doctrine.dao(App\Model\Entity\Author))
    - App\Model\Facade\RoleFacade(@doctrine.dao(App\Model\Entity\User\Role))
    - App\Model\Facade\UserFacade(@doctrine.dao(App\Model\Entity\User\User))