{block content}

<div class="row">
    <div class="col-md-8">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Edit author
                </div>
            </div>
            <div class="portlet-body form">
                {control authorForm}
            </div>
        </div>
    </div>
</div>


