{block content}

<h1>Modules demo</h1>
<ul>
    <li><a n:href=":Front:Homepage:"><code>:Front:Homepage:</code></a> - link to presenter <code>Front:Homepage</code></li>
    <li><a n:href=":Admin:Dashboard:"><code>:Admin:Dashboard:</code></a> - link to presenter <code>Admin:Dashboard</code></li>
</ul>